body{
    font-family: 'robotolight', arial, sans-serif;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html{
    width: 100%;
    height: 100%;
}

ul, h2, h3, p{
    margin: 0;
    padding: 0; 
}

.wrapper{
    overflow: hidden;
    min-width: 1140px;
    min-height: 100%;
}

.wrapper:after{
    content: "";
    display: block;
    padding-bottom: 80px;
}

.container{
    width: 1100px;
    margin: 0 auto;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.visually-hidden{
    visibility: hidden;
}

.main{
    float: right;
}

.main__logo{
    margin-top: 12px;
    background: url("../../img/bg/photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.main__img{
    visibility: hidden;
}

.main-title{
    font-family: 'robotobold', arial, sans-serif;
    color: #221f1f;
    font-size: 49px;
}

.main-news{
    margin-bottom: 60px;
}