.footer{
    background-color: #4b73b5;
    margin-top: -80px;
    height: 80px;
}

.footer__left,
.footer__center,
.footer__right{
    float: left;
    width: 33.3%;
}

.footer-signature{
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    margin: 14px 0 17px 17px;
}

.footer-signature__link{
    font-family: 'robotobold', arial, sans-serif;
    color: #ffffff;
}

.footer-logo{
    display: inline-block;
    margin: 20px 0 14px 123px;
}

.footer-logo__link{
    display: inline-block;
    text-decoration: none;
    background-image: url("../../img/icons/icons-sprite-se.png");
    background-position: -20px -301px;
    width: 120px;
    height: 36px;
}

.footer-social{
    display: inline-block;
    margin: 16px 0 10px 191px;
}

.footer-social__title{
    font-size: 14px;
    color: #ffffff;
    font-family: 'robotobold', arial, sans-serif;
}

.footer-social__list{
    list-style-type: none;
    margin-top: 7px;
}

.footer-social__item{
    display: inline-block;
    margin-right: 6px;
}

.footer-social__link{
    text-decoration: none;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d2def3;
    overflow: hidden;
    box-sizing: border-box;
    transition: background-color .5s;
}

.footer-social__link:before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../img/icons/icons-sprite-se.png");
    background-repeat: no-repeat;
}

.footer-social__link:hover{
    background-color: #ffffff;
}

.footer-social__link--vk:before{
    background-position: -55px -585px;
    width: 12px;
    height: 7px;
}

.footer-social__link--fb:before{
    background-position: -60px -525px;
    width: 6px;
    height: 13px;
}


.footer-social__link--google:before{
    background-position: -97px -572px;
    width: 15px;
    height: 9px;
}


.footer-social__link--twitter:before{
    background-position: -20px -597px;
    width: 11px;
    height: 9px;
}


.footer-social__link--mail:before{
    background-position: -132px -572px;
    width: 12px;
    height: 9px;
}