.header{
    background-color: #4b73b5;
    padding: 18px 0 14px 0;
}

.header-logo{
    margin-left: 20px;
    float: left;
}

.header-logo__link{
    display: inline-block;
    text-decoration: none;
    background-image: url("../../img/icons/icons-sprite-se.png");
    background-position: -20px -301px;
    width: 120px;
    height: 36px;
}

.header-info{
    margin-right: 21px;
    float: right;
    text-align: right;
    position: relative;
}

.header-info__phone{
    color: #e7ecf5;
    font-size: 21px;
    font-family: 'robotobold', arial, sans-serif;
    display: block;
    text-decoration: none;
}

.header-info__schedule{
    margin: 3px 1px 0 0;
    color: #bfcde4;
    font-size: 14px;
    font-family: 'robotobold', arial, sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.header-info__schedule:hover .header-info__dropdown{
    right: 0;
}

.header-info__dropdown{
    right: -9999px;
    position: absolute;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px;
    margin-top: 14px;
    margin-left: 10px;
    z-index: 10;
}

.header-info__dropdown:before{
    content: "";
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    top: -15px;
    height: 15px;
}

.header-info__dropdown:after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -10%;
    left: 85%;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.header-info__dropdown-inner{
    display: inline-block;
    font-size: 14px;
    line-height: 1.3;
    text-align: left;
}

.header-info__dropdown-time{
    font-family: "robotobold", arial, sans-serif;
    color: #1c5bc3;
}

.header-info__dropdown-lunch{
    font-family: 'robotolight', arial, sans-serif;
    margin-top: 5px;
    color: #221f1f;
}