.intro{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../../img/bg/intro-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro-block{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation-name: jump;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

.intro-block__logo{
    background-image: url("../../img/icons/icons-sprite-se.png");
    background-position: -50px -651px;
    width: 111px;
    height: 186px;
    margin: 0 auto;
}

.intro-block__link{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    text-decoration: none;
    width: 210px;
    height: 48px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 14px;
    color: #1c5bc4;
    border: 1px solid #1c5bc4;
    border-radius: 5px;
    overflow: hidden;
    transition: background-color .5s;
}

.intro-block__link:hover{
    background-color: #1c5bc3;
    color: #ffffff;
}

.intro-block__link-text{
    display: inline-block;
    font-family: "robotobold", arial, sans-serif;
    font-size: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    padding-right: 25px;
}

.intro-block__link-text:after{
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url("../../img/icons/icons-sprite-se.png");
    background-position: -86px -441px;
    width: 15px;
    height: 14px;
    right: 5px;
}

.intro-block__link:hover .intro-block__link-text:after{
    background-position: -20px -563px;
}

@keyframes jump{
    from {
      opacity: 0;
    }
    20% {
      opacity: 100;
    }
    25% {
      top: 40%;
    }
    50% {
      top: 50%;
    }
    75%{
      top: 45%;
    }
    
  }