.pagination-reviews{
    position: relative;
    top: -9px;
}
  
.pagination__title{
    display: inline-block;
    margin-right: 5px;
    margin-left: 270px;
    font-size: 14px;
    color: #656464;
}

.pagination__title--reviews{
    margin-left: 220px;
}
  
.pagination__list{
    list-style: none;
    display: inline-block;
    text-align: center;
    font-size: 0;
}
  
.pagination__item{
    display: inline-block;
}
  
.pagination__link{
    font-family: 'robotobold', arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #221f1f;
    width: 25px;
    height: 25px;
    line-height: 1.8;
    display: block;
    border-radius: 3px;  
}
  
.pagination__btn-prev, .pagination__btn-next{
    text-decoration: none;
    color: #221f1f;
    margin: 10px;
}
  
.pagination__btn--active{
    color: #656464;
}
  
.pagination__link--active{
    color: #ffffff;
    background-color: #4b73b5;
    pointer-events: none;
}

.pagination__link:hover{
    color: #1c5bc3;
}