.sidebar{
    float: left;
    margin-top: 45px;
    margin-left: 20px;
}

.menu{
    margin-bottom: 30px;
}

.menu__list{
    list-style-type: none;
    margin-bottom: 55px;
}

.menu__wrapper{
    width: 23px;
    height: 18px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: bottom;
}

.menu__item{
    margin-bottom: 30px;
}

.menu__item:last-child{
    margin-bottom: 0;
}

.menu__item--active .menu__link{
    color: #221f1f;
    pointer-events: none;
}

.menu__link{
    vertical-align: middle;
    font-size: 12px;
    font-family: 'robotobold', arial, sans-serif;
    text-decoration: none;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #4b73b5;
    display: inline-block;
    position: relative;
    padding-left: 35px;
    transition: color .5s;
}

.menu__link:before{
    content: "";
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: -3px;
    width: 23px;
    height: 18px;
}

.menu__link:hover{
    color: #221f1f;
}

.menu__link--main:before{
    background-image: url("../../img/icons/icons-sprite-se.png");
    background-position: -60px -547px;
    width: 17px;
    height: 18px;
    background-repeat: no-repeat;
}

.menu__link--star:before{
    background-image: url("../../img/icons/icons-sprite-se.png");
    background-position: -20px -525px;
    width: 20px;
    height: 18px;
    background-repeat: no-repeat;
}

.menu__link--team:before{
    background-image: url("../../img/icons/icons-sprite-se.png");
    background-position: -133px -496px;
    width: 23px;
    height: 18px;
    background-repeat: no-repeat;
}

.menu__item--active .menu__link--main:before,
.menu__link--main:hover:before{
    background-image: url("../../img/icons/icons-sprite-se.png");
    background-position: -126px -534px;
    width: 17px;
    height: 18px;
}

.menu__item--active .menu__link--star:before,
.menu__link--star:hover:before{
    background-image: url("../../img/icons/icons-sprite-se.png");
    background-position: -86px -509px;
    width: 20px;
    height: 18px;
}

.menu__item--active .menu__link--team:before,
.menu__link--team:hover:before{
    background-image: url("../../img/icons/icons-sprite-se.png");
    background-position: -133px -458px;
    width: 23px;
    height: 18px;
}

.menu__title{    
    display: inline-block;
}

.adv{
    max-width: 150px;
}

.adv__title{
    font-family: 'robotobold', arial, sans-serif;
    font-size: 12px;
    color: #221f1f;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    margin-bottom: 20px;
}

.adv__list{
    list-style: none;
}

.adv__item{
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(75%);
    transition: filter .5s;
}

.adv__link{
    display: block;
    text-decoration: none;
    overflow: hidden;
    max-width: 135px;
    margin: 0 auto;
}

.adv__item:hover{
    filter: none;
}

.adv__img{
    visibility: hidden;
}

.adv__item--afrodita{
    background-image: url("../../img/adv/afrodita.jpg");
}

.adv__item--coworking{
    background-image: url("../../img/adv/coworking.jpg");
}