.team{
    float: right;
}

.team-members{
    margin-top: 18px;
}

.team-members__title{
    margin-bottom: 33px;
}

.team-members__list{
    max-width: 890px;
    margin-left: 13px;
    list-style: none;
}

.team-members__item{
    display: inline-block;
    width: 260px;
    margin-right: 34px;
    margin-bottom: 43px;
    text-align: center;
    vertical-align: top;
}

.team-members__photo{
    position: relative;
    width: 163px;
    height: 163px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px auto;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 24px;
    font-family: "robotobold", arial, sans-serif;
}

.team-members__photo:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #4b73b5;
    opacity: 0.6;
}

.team-members__photo-img{
    visibility: hidden;
}

.team-members__photo-name{
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 20px;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.team-members__photo-alex{
    background-image: url("../../img/photos/team/alex.jpg");
}

.team-members__photo-boris{
    background-image: url("../../img/photos/team/boris.jpg");
}

.team-members__photo-elena{
    background-image: url("../../img/photos/team/elena.jpg");
}

.team-members__photo-elina{
    background-image: url("../../img/photos/team/elina.jpg");
}

.team-members__photo-inna{
    background-image: url("../../img/photos/team/inna.jpg");
}

.team-members__photo-yrii{
    background-image: url("../../img/photos/team/yrii.jpg");
}

.team-members__fullname{
    display: inline-block;
    color: #221f1f;
    font-size: 18px;
    font-family: "robotobold", arial, sans-serif;
}

.team-members__position{
    display: inline-block;
    color: #4b73b5;
    font-size: 14px;
    font-family: "robotobold", arial, sans-serif;
    margin-bottom: 8px;
}

.team-members__about{
    display: inline-block;
    max-width: 260px;
    line-height: 1.5;
    font-size: 14px;
}

.team-partners__list{
    margin-top: 37px;
    margin-bottom: 41px;
}

.team-partners__item{
    vertical-align: middle;
    margin-bottom: 60px;
}

.team-partners__logo{
    background-image: url("../../img/icons/icons-sprite-se.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter .2s;
}

.team-partners__logo:hover{
    filter: none;
}

.team-partners__logo--bmp{    
    background-position: -20px -84px;
    width: 159px;
    height: 30px;
}

.team-partners__logo--tetra{
    background-position: -20px 0;
    width: 161px;
    height: 64px;
}

.team-partners__logo--siberia{
    background-position: -20px -217px;
    width: 133px;
    height: 64px;
}

.team-partners__logo--oneair{
    background-position: -20px -134px;
    width: 141px;
    height: 63px;
}

.team-partners__logo--bingair{
    background-position: -20px -441px;
    width: 46px;
    height: 64px;
}

.team-partners__logo--ural{
    background-position: -20px -357px;
    width: 82px;
    height: 64px;
}

